# mengimport library

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive

# melakukan mount pada file

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# set up dan memuat data

In [3]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Data Mining/planes.xlsx'
df = pd.read_excel(file_path)

print("=== Data Awal ===")
print("Data Kosong (NaN) Awal di semua kolom:")
print(df.info())
print(df.isnull().sum())
print("="*60)

=== Data Awal ===
Data Kosong (NaN) Awal di semua kolom:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tailnum       3322 non-null   object
 1   year          3252 non-null   float64
 2   type          3322 non-null   object
 3   manufacturer  3322 non-null   object
 4   model         3322 non-null   object
 5   engines       3322 non-null   int64
 6   seats         3322 non-null   int64
 7   speed         23 non-null     float64
 8   engine        3322 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 233.7+ KB
None
tailnum            0
year              70
type               0
manufacturer       0
model              0
engines            0
seats              0
speed           3299
engine             0
dtype: int64
============================================================

# menghapus kolom speed

dikarenakan banyaknya kolom yang kosong

In [4]:
df.drop(columns=['speed'], inplace=True)

# menangani missing value pada year

In [6]:
median_year = df['year'].median()
df['year'] = df['year'].fillna(median_year)

# mengecek dan menghapus adanya duplikat

In [7]:
print("Jumlah data duplikat:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

Jumlah data duplikat: 0

# standarisasi data

In [8]:
df['manufacturer'] = df['manufacturer'].str.strip().str.title()
df['engine'] = df['engine'].str.strip().str.title()
df['type'] = df['type'].str.strip().str.title()

# Cek outlier sederhana pada kolom numeric

In [9]:
print("\nStatistik Deskriptif (numeric):")
print(df.describe())

Statistik Deskriptif (numeric):
              year      engines        seats
count  3322.000000  3322.000000  3322.000000
mean   2000.494883     1.995184   154.316376
std       7.117596     0.117593    73.654974
min    1956.000000     1.000000     2.000000
25%    1997.000000     2.000000   140.000000
50%    2001.000000     2.000000   149.000000
75%    2005.000000     2.000000   182.000000
max    2013.000000     4.000000   450.000000

Hasil akhir

In [10]:
print("\n=== Data Setelah Cleaning ===")
print(df.info())
print(df.head())
print("\nJumlah missing value setelah cleaning:")
print(df.isnull().sum())

=== Data Setelah Cleaning ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tailnum       3322 non-null   object
 1   year          3322 non-null   float64
 2   type          3322 non-null   object
 3   manufacturer  3322 non-null   object
 4   model         3322 non-null   object
 5   engines       3322 non-null   int64
 6   seats         3322 non-null   int64
 7   engine        3322 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 207.8+ KB
None
  tailnum    year                     type      manufacturer      model  \
0  N10156  2004.0  Fixed Wing Multi Engine           Embraer  EMB-145XR
1  N102UW  1998.0  Fixed Wing Multi Engine  Airbus Industrie   A320-214
2  N103US  1999.0  Fixed Wing Multi Engine  Airbus Industrie   A320-214
3  N104UW  1999.0  Fixed Wing Multi Engine  Airbus Industrie   A320-214
4  N10575  2002.0  Fixed Wing Multi Engine           Embraer  EMB-145LR

   engines  seats     engine
0        2     55  Turbo-Fan
1        2    182  Turbo-Fan
2        2    182  Turbo-Fan
3        2    182  Turbo-Fan
4        2     55  Turbo-Fan

Jumlah missing value setelah cleaning:
tailnum         0
year            0
type            0
manufacturer    0
model           0
engines         0
seats           0
engine          0
dtype: int64

# simpan hasil data bersih

In [12]:
output_file_path = '/content/drive/MyDrive/Colab Notebooks/Data Mining/planes_cleansed.xlsx'

try:
    df.to_excel(output_file_path, index=False)
    print(f"\n✅ File Berhasil Disimpan!")
    print(f"File bersih tersedia di: {output_file_path}")

except Exception as e:
    print(f"\n❌ Terjadi kesalahan saat menyimpan file: {e}")

✅ File Berhasil Disimpan!
File bersih tersedia di: /content/drive/MyDrive/Colab Notebooks/Data Mining/planes_cleansed.xlsx